.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2A363B;
};

.activeLink {
  color: #b80031;
};

.NavLink-active {
  background-color: #0789a7;
}